
## 　セクション4 正規方程式
- 正規方程式は最急降下法を使わずに解析的に最適なパラメータθを求める方程式
- 一発で確実に解を求めることが可能
- 線形回帰のモデルのみ可能

### 正規方程式をスクラッチで実装する
1. Xを作成
2. yとXを使って正規方程式でθを求める
3. 結果を最急降下法と比較する形で描画

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns

In [8]:
df = pd.read_csv('../sample_data.csv')
df.head()

   space       rent
0     20  13.958824
1     25  11.533805
2     28  14.269547
3     30  18.722680
4     36  19.602674

In [36]:
x = df['space']
X = x.values
X = X.reshape(10,1)
y = df['rent'].values
y = y.reshape(10,1)
theta = np.linalg.inv(np.dot(X.T,X)).dot(X.T).dot(y)
theta

array([[0.38782297]])

### 模範解答

In [33]:
x = df['space'].values
y = df['rent'].values

X = np.vstack([np.ones(len(x)), x]).T
best_theta = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y.T)
best_theta

array([7.0962325 , 0.27487161])

### scikit-learnで線形化回帰

In [46]:
from sklearn.linear_model import LinearRegression
x = df['space'].values.reshape(10,1)
y = df['rent']
model = LinearRegression()
model.fit(x,y)
pred_y = model.predict(x)
df['pred_rent'] = pred_y
df

   space       rent  pred_rent
0     20  13.958824  12.593665
1     25  11.533805  13.968023
2     28  14.269547  14.792638
3     30  18.722680  15.342381
4     36  19.602674  16.991610
5     51  16.068166  21.114685
6     55  23.183599  22.214171
7     62  22.212595  24.138272
8     83  29.357010  29.910576
9    103  37.565129  35.408008