### 特徴量スケーリング
- 最急降下法のような勾配法を使用したアルゴリズムや距離を使うアルゴリズムは必要
- 正規方程式のような解析的に解を求めるアルゴリズムや決定機を使うアルゴリズムは不要

※注意点
- 目的変数法スケールは不要
- 学習データとテストデータに分ける場合、学習データの理スケールに使ったパラメータをテストデータのリスケールに使う

In [1]:
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('../sample_data2 (1).csv')
df.head()

   space       rent  age
0     20  13.958824    3
1     25  11.533805   13
2     28  14.269547   18
3     30  18.722680   10
4     36  19.602674    6

In [12]:
# 標準化
X = df[['space','age']]
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc_X = sc.fit_transform(X)
pd.DataFrame(sc_X,columns=X.columns)

      space       age
0 -1.134662 -0.806277
1 -0.941034  0.633504
2 -0.824857  1.353394
3 -0.747405  0.201569
4 -0.515051 -0.374343
5  0.065834 -1.094233
6  0.220736 -0.518321
7  0.491816 -0.950255
8  1.305055 -0.518321
9  2.079569  2.073284

In [10]:
#線形回帰
from sklearn.linear_model import LinearRegression
model.fit(X,y)
y_pred = model.predict(X)
df['rent_pred'] = y_pred

In [13]:
#線形回帰
y = df['rent']
model = LinearRegression()
model.fit(sc_X,y)
sc_y_pred = model.predict(sc_X)
df['rent_pred_sc'] = sc_y_pred
df

   space       rent  age  rent_pred  rent_pred_sc
0     20  13.958824    3  12.129813     12.129813
1     25  11.533805   13  14.674164     14.674164
2     28  14.269547   18  16.080165     16.080165
3     30  18.722680   10  15.650591     15.650591
4     36  19.602674    6  16.774059     16.774059
5     51  16.068166    1  20.185777     20.185777
6     55  23.183599    5  21.738820     21.738820
7     62  22.212595    2  23.250548     23.250548
8     83  29.357010    5  29.233049     29.233049
9    103  37.565129   23  36.757042     36.757042

### 正規化

In [15]:
from sklearn.preprocessing import MinMaxScaler
norm = MinMaxScaler()
norm_X = norm.fit_transform(X)
norm_X

array([[0.        , 0.09090909],
       [0.06024096, 0.54545455],
       [0.09638554, 0.77272727],
       [0.12048193, 0.40909091],
       [0.19277108, 0.22727273],
       [0.37349398, 0.        ],
       [0.42168675, 0.18181818],
       [0.5060241 , 0.04545455],
       [0.75903614, 0.18181818],
       [1.        , 1.        ]])